@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    background-color: #EDEEF1;
    padding: 1%;
    min-width: 450px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 1%;
}

.form-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .outer {
    max-width: 450px;
}

.form-header-section h2 {
    font-weight: bold;
}

.form-header-section p {
    margin-top: 15px;
    color: #C1C2C3;
    font-size: 14px;
}

.form-body-section {
    margin: 15px 0px;
}

.form-container hr {
    color: #c1c3c1;
    margin-bottom: 5px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.form-input {
    width: 100%;
    height: 35px;
    padding: 5px 35px;
    border: none;
    outline: #C1C2C3 1px solid;
    border-radius: 5px;
}

.form-input:focus {
    outline: 2px solid #5667EC;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    color: #838699;
    font-size: 14px;
    pointer-events: none;
}

.input-container .right-icon {
    position: absolute;
    right: 10px;
    color: #838699;
    font-size: 1em;
    pointer-events: none;
}

.input-container:focus-within .icon {
    color: #5667EC;
}

.right-icon {
    visibility: hidden;
}

input[type='checkbox'] {
    cursor: pointer;
    transform: scale(1.1)
}

a {
    color: #5667EC;
    text-decoration: none;
}

#sign-in-redirect::after {
    content: '\2192';
    padding: 5px;
    font-size: 20px;
    width: 10px;
    font-weight: bold;
    transform: scale(1.5);
}

.recaptcha-div {
    width: max-content;
    margin: 10px 0px;
    background-color: #F9F9F9;

}

.policy-div {
    margin: 10px 0px;
    display: flex;
    gap: 10px;
}

label {
    font-size: 14px;
}

small.error {
    min-height: 0.8em;
    font-size: 0.7em;
}

.recaptcha {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.recaptcha img {
    height: 40px;
    width: 40px;
}

#switch-theme {
    height: 25px;
    width: 25px;
    padding: 5px;
    border: 1px solid #5667EC;
    border-radius: 50%;
}

.image-container {
    position: relative;
    background: url('../static/background.jpg');
    background-size: cover;
    color: #fff;
    z-index: 1;
}

.image-container::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(25, 36, 88, 0.6);
    z-index: -1;
}

.image-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-title-content {
    font-weight: bold;
    color: #EDF6FE;
}

.image-text-content {
    font-size: 14px;
    color: #c1c3c1;
}

#watch-demo {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    background-color: #2C3252;
    border-radius: 50px;
    flex-grow: 0;
    font-size: 12px;
    text-wrap: nowrap;
}

#watch-demo .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #020930;
    padding: 1%;
    border-radius: 50%;
}

#watch-demo p {
    margin: 0;
    color: white;
}

#cta-btn {
    padding: 5px;
    outline: none;
    border: none;
    background-color: #5667EC;
    color: #fff;
    height: 35px;
    border-radius: 5px;
}

@media only screen and (min-width: 320px) {
    .wrapper {
        padding: 0;
    }

    .container {
        padding: 0;
    }

    .image-container {
        padding: 5%;
    }

}