@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    /* background: linear-gradient(to right, #eec893 0%, #d99cd7 99%); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #EDEEF1;
}

.container {
    background: #fff;
    border-radius: 10px;
    min-height: 600px;
}

.image-container {
    background: url('/static/abstract-binary-code-background.jpg') no-repeat;
}

.image-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#watch-demo {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    background-color: #2C3252;
    border-radius: 50px;
    flex-grow: 0;
    font-size: 12px;
    text-wrap: nowrap;
}

#watch-demo .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #020930;
    padding: 1%;
    border-radius: 50%;
}

#watch-demo p {
    margin: 0;
    color: white;
}


@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 0px;
    }

    .container {
        width: calc(100% - 50px);
        padding: 1%;
        display: flex;
        flex-direction: row;
        gap: 1%;
        justify-content: space-between;
    }

    .form-container,
    .image-container {
        width: 50%;
        border-radius: 10px;
    }

    .form-container {
        flex: 1 1 auto;
    }

    .image-container {
        max-width: 450px;
        position: relative;
        background-size: cover;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding: 2%;
        z-index: 1;
        overflow: hidden;
    }

    .image-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 100, 0.5);
        z-index: -1;
    }

    .image-container {
        padding: 50px;
        padding-top: 150px;
        align-items: flex-start;
        gap: 5%;
    }

    .image-title-content {
        font-size: 35px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: calc(100% - 200px);
        padding: 1%;
        display: flex;
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: calc(100% - 300px);
        height: 750px;
    }

    .image-title-content {
        font-size: 50px;
    }
}